.favorites__card {
  /* box-shadow: var(--box-shadow); */
  width: 20rem;
  height: 30rem;
  background-color: white;
  /* border: 1px solid var(--black); */
  border-radius: 5px;
}

.favorites__card__title {
  text-align: center;
  font-size: 1rem;
  height: 4.5rem;
  padding: 1rem 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 700;
}

.favorites__card__btn {
  padding: 0 0.5rem;
  background-color: transparent;
  color: var(--dark-green);
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  margin-left: auto;
}
.favorites__card__btn > a {
  color: var(--dark-green) !important;
  text-decoration: none;
}
